<br>
<h2>Create a new Company</h2>
  <% if @errors %>
  <ul class = "errors">
    <% @errors.each do |error| %>
      <li> <%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <%= render "form" %>

<hr>
